<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buaa.lucker.dao.CommunityDao" >
  <resultMap id="BaseResultMap" type="com.buaa.lucker.pojo.Edge" >
    <id column="senderid" property="source" jdbcType="INTEGER" />
    <result column="recipientid" property="target" jdbcType="INTEGER" />
    <result column="count" property="weight" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="RealCommMap" type="com.buaa.lucker.pojo.RealComm" >
    <id column="typeid" property="typeid" jdbcType="INTEGER" />
    <result column="typename" property="type" jdbcType="VARCHAR" />
    <result column="nodes" property="nodes" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="NodeInteractMap" type="com.buaa.lucker.pojo.NodeInteract" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="count" property="count" jdbcType="INTEGER" />
  </resultMap>
   <sql id="Base_Column_List" >
    senderid,recipientid,count(*) as count 
  </sql> 
  <select id="getGraph"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from edgemap 
    group by senderid,recipientid
  </select>
  <select id="getNode" resultType="java.lang.Integer">
      select senderid as id from edgemap 
      union
      select recipientid as id from edgemap
  </select>
  
  <!-- 相似性计算 -->
  <select id="getInterNum" parameterType="java.lang.Integer" resultType="java.lang.Integer">
      select count(*) 
      from edgemap 
      where senderid=#{0} and recipientid=#{1} 
      or 
      senderid=#{1} and recipientid=#{0}
  </select> 
  <select id="getSubject" parameterType="java.lang.Integer" resultType="java.lang.String">
      select subject 
      from edgemap 
      where senderid=#{0} or recipientid=#{0}
  </select>
  
  <select id="getMessageid" parameterType="java.lang.Integer" resultType="java.lang.Integer">
      select messageid 
      from edgemap 
      where recipientid=#{0}
  </select>
  <select id="getCloser" parameterType="java.lang.Integer" resultType="java.lang.Integer">
      select count(*) 
      from edgemap 
      where senderid=#{0} and recipientid=#{1}
      or 
      senderid=#{1} and recipientid=#{0}
  </select>
   <!-- 真实社区选取 -->
  <select id="getNodeCat1" resultMap="RealCommMap">
      select typeid,typename,nodes
      from realcomm1 
  </select>  
   <select id="getNodeCat2" resultMap="RealCommMap">
      select typeid,typename,nodes
      from realcomm2
  </select>
  <select id="getNeighbor" parameterType="java.lang.Integer" resultMap="NodeInteractMap">
      select senderid as id,count(*) as count from edgemap where recipientid=#{0} group by senderid
      union
      select recipientid as id, count(*) as count from edgemap where senderid=#{0} group by recipientid
  </select>

</mapper>