<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buaa.lucker.dao.MessageDao" >
  <resultMap id="BaseResultMap" type="com.buaa.lucker.pojo.Message" >
    <id column="messageid" property="id" jdbcType="INTEGER" />
    <result column="subject" property="subject" jdbcType="VARCHAR" />
    <result column="body" property="content" jdbcType="VARCHAR" />
    <result column="senderid" property="senderid" jdbcType="INTEGER" />
    <result column="recipientid" property="recipientid" jdbcType="INTEGER" />
  </resultMap>
   <!-- <sql id="Base_Column_List" >
    a.messageid,b.body,a.senderid,a.recipientid 
  </sql>  -->
  <select id="getMessages"  parameterType="java.lang.String" resultMap="BaseResultMap">
    select distinct
    a.messageid,a.subject,b.body,a.senderid,a.recipientid
    from edgemap a, bodies b 
    where a.messageid=b.messageid and b.body like  CONCAT('%',#{keyword},'%')
  </select>
</mapper>