<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buaa.lucker.dao.PersonDao" >
  <!-- <resultMap id="BaseResultMap" type="com.buaa.lucker.pojo.Edge" >
    <id column="senderid" property="source" jdbcType="INTEGER" />
    <result column="recipientid" property="target" jdbcType="INTEGER" />
    <result column="count" property="weight" jdbcType="INTEGER" />
  </resultMap> -->
  <!-- <select id="getInteract"  parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from edgemap 
    group by senderid,recipientid
  </select> -->
  
  
</mapper>