<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buaa.lucker.dao.PersonDao" >
  <resultMap id="BaseResultMap" type="com.buaa.lucker.pojo.Edge" >
    <id column="source" property="source" jdbcType="INTEGER" />
    <result column="target" property="target" jdbcType="INTEGER" />
    <result column="count" property="weight" jdbcType="INTEGER" />
  </resultMap>
  <select id="getInteractDao"  parameterType="java.lang.String" resultMap="BaseResultMap">
    select distinct recipientid as source,senderid as target from edgemap where recipientid=#{0}
    union
    select distinct senderid as source,recipientid as target from edgemap where senderid=#{0}
  </select>
  
  
</mapper>